Packages/User/encoding_cache.json
Packages/User/Package Control.cache/
Packages/User/Package Control.merged-ca-bundle
Packages/User/Package Control.user-ca-bundle
Packages/User/Package Control.last-run
Packages/.logs/Vintageous.log
Installed\ Packcages/PyV8/linux-64p3/config.json